<!DOCTYPE html>
<html lang="el">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Η Σελίδα Μου</title>
  <link rel="stylesheet" href="partials/layout_style.css">
</head>
<body>

  <header id="header1">
  <h1>Χριστουγεννιάτικα & Γιορτές</h1>
  <button id="menuButton">☰ Μενού</button>
  </header>

<nav id="sideMenu">
  <button id="closeMenu">×</button>
  <ul>
    <li><a href="home.html" class="nav-link">Αρχική</a></li>

    <!-- ΚΑΤΗΓΟΡΙΑ Βιβλία -->
    <li class="has-submenu">
      <button class="submenu-toggle">Βιβλία </button>
      <ul class="submenu">
        <li><a href="kourampiedes.html">Παιδικά Χριστουγεννιάτικα</a></li>
        <li><a href="melomakarona.html">Κλασικές Χριστουγεννιάτικες Ιστορίες</a></li>
        <li><a href="diples.html">Σύγχρονες Γιορτινές Ιστορίες</a></li>
      </ul>
    </li>

    <!-- ΚΑΤΗΓΟΡΙΑ Στολίδια -->
    <li class="has-submenu">
      <button class="submenu-toggle">Στολίδια </button>
      <ul class="submenu">
        <li class="submenu-title">Χριστουγεννιάτικο Δέντρο</li>
        <li><a href="xoirino.html">Μπάλες</a></li>
        <li><a href="kokkinisto.html">Γιρλάντες</a></li>
        <li><a href="galopoula.html">Στολίδια από ξύλο</a></li>
        <li><a href="xoirino.html">Στολίδια από ύφασμα</a></li>
         <li class="submenu-title">Φωτάκια</li>             
        <li><a href="kokkinisto.html">Εσωτερικού χώρου</a></li>
        <li><a href="kokkinisto.html">Εξωτερικού χώρου</a></li>
         <li class="submenu-title">Γενικός Στολισμός</li>          
        <li><a href="xoirino.html">Στολισμός σπιτιού</a></li>
        <li><a href="kokkinisto.html">Στεφάνια πόρτας</a></li> 
        <li><a href="kokkinisto.html">Αρωματικά – Κεριά</a></li>         
      </ul>
    </li>

        <!-- ΚΑΤΗΓΟΡΙΑ Χειροτεχνίες -->
    <li class="has-submenu">
      <button class="submenu-toggle">Χειροτεχνίες </button>
      <ul class="submenu">
        <li><a href="galopoula.html">Χριστουγεννιάτικες Κατασκευές</a></li>
        <li><a href="xoirino.html">Διακόσμηση με Ανακυκλώσιμα</a></li>
        <li><a href="kokkinisto.html">Χειροποίητα Στολίδια</a></li>
      </ul>
    </li>

        <!-- ΚΑΤΗΓΟΡΙΑ Δώρα -->
    <li class="has-submenu">
      <button class="submenu-toggle">Δώρα </button>
      <ul class="submenu">
        <li><a href="galopoula.html">Δώρα για Παιδιά</a></li>
        <li><a href="xoirino.html">Δώρα για Ενήλικες</a></li>
        <li><a href="kokkinisto.html">Δώρα για Ζευγάρια</a></li>
      </ul>
    </li>


        <!-- ΚΑΤΗΓΟΡΙΑ Έθιμα & Παραδόσεις -->
    <li class="has-submenu">
      <button class="submenu-toggle">Έθιμα & Παραδόσεις </button>
      <ul class="submenu">
        <li><a href="galopoula.html">Ελλάδα – Τοπικά Έθιμα</a></li>
        <li><a href="xoirino.html">Κάλαντα & Παραδόσεις</a></li>
        <li><a href="kokkinisto.html">Χριστουγεννιάτικα Έθιμα στον Κόσμο</a></li>
        <li><a href="xoirino.html">Ιστορία των Χριστουγέννων</a></li>
        <li><a href="kokkinisto.html">Η ιστορία του Άγιου Βασίλη</a></li>
      </ul>
    </li>


        <!-- ΚΑΤΗΓΟΡΙΑ Μουσική & Χριστουγεννιάτικη Ατμόσφαιρα -->
    <li class="has-submenu">
      <button class="submenu-toggle">Ταινίες & Σειρές </button>
      <ul class="submenu">
        <li><a href="galopoula.html">κωμικές ταινίες</a></li>
        <li><a href="xoirino.html">Ρομαντικές ταινίες</a></li>
        <li><a href="kokkinisto.html">Παιδικές ταινίες</a></li>
        <li><a href="xoirino.html">Χριστουγεννιάτικες σειρές</a></li>
      </ul>
    </li>




    
        <!-- Αυτό είναι το link κάτω κάτω -->
    <li class="menu-bottom">
      <a href="https://angelos08-lgtm.github.io/suntages3/home.html">Χριστουγεννιάτικες Συνταγές</a>
    </li>
  </ul>
</nav>

<main id="content"><!-- empty, εδώ θα μπαίνει content κάθε σελίδας --></main>

  <footer id="footer1">
    <p>&copy; 2025 Η Σελίδα Μου</p>
  </footer>

  <script src="partials/layout_script.js"></script>
</body>
</html>










