#world_customs_hero {
  background: url('https://www.iefimerida.gr/sites/default/files/styles/medium_article_image/public/2016-12/xristougeniatika-ethima-708.jpg?itok=QOdvcqAi') center/cover fixed;
  padding: 120px 20px;
  color: white;
  text-align: center;
  text-shadow: 0 0 10px #000;
}

#world_customs_title {
  font-size: 3rem;
  font-weight: 900;
}

#world_customs_subtitle {
  font-size: 1.2rem;
  opacity: 0.9;
}

#wc_lightbox {
  position: fixed;
  display: none;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: #000c;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#wc_lightbox_img {
  max-width: 85%;
  border-radius: 15px;
  box-shadow: 0 0 25px #fff;
}

#wc_lightbox_close {
  position: absolute;
  top: 35px;
  right: 45px;
  color: white;
  cursor: pointer;
  font-size: 3rem;
}

#wc_container,
#world_customs_container {
  width: 92%;
  max-width: 1100px;
  margin: 50px auto;
}

.wc_card {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  margin-bottom: 25px;
  padding: 20px;
  box-shadow: 0 6px 15px #0005;
  cursor: pointer;
}

.wc_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wc_toggle {
  font-size: 1.7rem;
}

.wc_body {
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s ease;
}

.wc_img {
  margin-top: 10px;
  width: 100%;
  border-radius: 12px;
  cursor: zoom-in;
  box-shadow: 0 4px 12px #0005;
}


