#customs-info {
  background: var(--card);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.08);
  margin-bottom: 30px;
}

#customs-info h2 {
  color: var(--accent);
  margin-bottom: 12px;
}

#customs-info p {
  color: var(--text);
  line-height: 1.6;
  font-size: 15px;
}

.slider {
  flex: 1 1 500px;
  max-width: 600px; /* περιορίζει το πλάτος */
  min-width: 250px; 
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  background: var(--card);
  height: 300px; /* σταθερό ύψος */
}

.slides-wrapper img {
  width: 100%;
  height: 100%; /* να γεμίζει το container */
  object-fit: cover; /* κρατάει αναλογία και γεμίζει σωστά */
  border-radius: 12px;
  opacity: 0;
  transition: opacity 0.6s ease;
}









/* Σιγουρεύουμε ότι τα story-boxes και ο slider δουλεύουν σε μικρές οθόνες */
@media (max-width: 520px) {
  .hero-container {
    flex-direction: column;
    align-items: center;
  }
  .story-boxes {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}

